<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">Enregistrer l'établissement</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col gap-4 pt-4">
    <h3 class="subheading-2 m-0 text-secondary">Identité</h3>

    <mat-form-field class="flex-auto">
      <mat-label>Nom complet</mat-label>
      <input cdkFocusInitial formControlName="nom" matInput />
      <mat-icon matIconPrefix svgIcon="mat:school"></mat-icon>
      <mat-error *ngIf="form.controls['nom'].errors?.['required']">Le nom est obligatoire</mat-error>
      <mat-error *ngIf="form.controls['nom'].errors?.['minlength']">Minimum 2 caractères</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Nom court</mat-label>
      <input formControlName="nom_court" matInput />
      <mat-icon matIconPrefix svgIcon="mat:badge"></mat-icon>
      <mat-error *ngIf="form.controls['nom_court'].errors?.['minlength']">Minimum 2 caractères</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Slogan</mat-label>
      <input formControlName="slogan" matInput />
      <mat-icon matIconPrefix svgIcon="mat:info"></mat-icon>
      <mat-error *ngIf="form.controls['slogan'].errors?.['minlength']">Minimum 2 caractères</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Adresse</mat-label>
      <input formControlName="adresse" matInput />
      <mat-icon matIconPrefix svgIcon="mat:location_on"></mat-icon>
      <mat-error *ngIf="form.controls['adresse'].errors?.['minlength']">Minimum 2 caractères</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Inspection académique</mat-label>
      <input formControlName="inspection_academique" matInput />
      <mat-icon matIconPrefix svgIcon="mat:assignment"></mat-icon>
      <mat-error *ngIf="form.controls['inspection_academique'].errors?.['required']">Ce champ est obligatoire</mat-error>
      <mat-error *ngIf="form.controls['inspection_academique'].errors?.['minlength']">Minimum 2 caractères</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Inspection de l'éducation et de la formation</mat-label>
      <input formControlName="inspection_education_formation" matInput />
      <mat-icon matIconPrefix svgIcon="mat:assignment"></mat-icon>
      <mat-error *ngIf="form.controls['inspection_education_formation'].errors?.['required']">Ce champ est obligatoire</mat-error>
      <mat-error *ngIf="form.controls['inspection_education_formation'].errors?.['minlength']">Minimum 2 caractères</mat-error>
    </mat-form-field>

    <mat-divider class="text-border"></mat-divider>
    <h3 class="subheading-2 m-0 text-secondary">Contacts</h3>

    <mat-form-field class="flex-auto">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" />
      <mat-icon matIconPrefix svgIcon="mat:mail"></mat-icon>
      <mat-error *ngIf="form.controls['email'].errors?.['email']">Format d'email invalide</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Téléphone principal</mat-label>
      <input formControlName="telephone_principal" matInput type="tel" />
      <mat-icon matIconPrefix svgIcon="mat:phone"></mat-icon>
      <mat-error *ngIf="form.controls['telephone_principal'].errors?.['required']">Le téléphone principal est obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Téléphone secondaire</mat-label>
      <input formControlName="telephone_secondaire" matInput type="tel" />
      <mat-icon matIconPrefix svgIcon="mat:phone"></mat-icon>
      <mat-error *ngIf="form.controls['telephone_secondaire'].errors?.['required']">Le téléphone secondaire est obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Site web</mat-label>
      <input formControlName="site_web" matInput type="url" placeholder="https://exemple.sn" />
      <mat-icon matIconPrefix svgIcon="mat:web"></mat-icon>
      <mat-error *ngIf="form.controls['site_web'].errors?.['required']">Le site web est obligatoire</mat-error>
      <mat-error *ngIf="form.controls['site_web'].errors?.['url']">L'adresse doit commencer par http:// ou https://</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Facebook</mat-label>
      <input formControlName="lien_facebook" matInput type="url" placeholder="https://facebook.com/..." />
      <mat-icon matIconPrefix svgIcon="mat:contacts"></mat-icon>
      <mat-error *ngIf="form.controls['lien_facebook'].errors?.['url']">L'adresse doit commencer par http:// ou https://</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Instagram</mat-label>
      <input formControlName="lien_instagram" matInput type="url" placeholder="https://instagram.com/..." />
      <mat-icon matIconPrefix svgIcon="mat:contacts"></mat-icon>
      <mat-error *ngIf="form.controls['lien_instagram'].errors?.['url']">L'adresse doit commencer par http:// ou https://</mat-error>
    </mat-form-field>

    <p class="m-0 caption text-hint">
      Le logo pourra être ajouté après l'enregistrement.
    </p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button color="warn" mat-raised-button type="button" (click)="close()">
      <mat-icon svgIcon="mat:cancel"></mat-icon>
      <span>Annuler</span>
    </button>
    <button [disabled]="form.invalid || isSubmitting" type="submit" color="primary" mat-flat-button class="ml-4">
      <mat-spinner *ngIf="isSubmitting" diameter="18" class="mr-2"></mat-spinner>
      <mat-icon *ngIf="!isSubmitting" svgIcon="mat:save"></mat-icon>
      <span>Enregistrer</span>
    </button>
  </mat-dialog-actions>
</form>
